<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  <title>Update contact</title>
</head>
<body>
  <h1>Update contact</h1>
  <form action="/update" method="POST">
    <div class="form">
      <div class="col">
        <input type="text" name="fullname" class="form-control" placeholder="Nombre" />
      </div>

      <div class="col">
        <input type="text" name="email" class="form-control" placeholder="Email" />
      </div>

      <div class="col">
        <input type="text" name="phone" class="form-control" placeholder="Telefono" />
      </div>
     
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
  </form>

</body>
</html>